
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap')



/*-----------------
    Main Styles
-------------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
   
}

/*----------------------
    Header Part
----------------------*/

.top-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #2D25A0;
}
.header-title{
    color: white;
    width: 320px;
    height: 210px;
    font-size: 46px;
    font-weight: bold;
    margin: 160px 0 0 100px;
}
.live{
    text-decoration: none;
    font-size: 16px;
    color: white;
    padding: 6px 11px;
    background-color: #E02C6D;
    transition: .2s;
    
}
/* Hover Effect*/
.live:hover{
    color: black; 
    background-color: tomato;
    border-radius: 8px;
    border: 1px solid #E02C6D;;
}

.banner img{
    height: 325px;
    width: 400px;
    margin-top: 120px;
}

/*-------------------------
    Players Information
-------------------------*/

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 27px;
    margin-top: 50px;
}
.player{
    height: 460px;
    width: 277px;
    margin-left: 25px;
    box-shadow: 2px 2px 40px #979696;
    transition: .3s;
}
/* Hover Effect */
.player:hover{
    transform: scale(1.1)
}
.player img{
    height:300px;
    width: 256px;
    padding: 10px;
}
.player h1{
    padding: 10px ;
    padding-top: 0px;
    margin: 0;
}
.player p{
    padding-left: 10px ;
    padding-top: 0px;
}

/*----------------------
    Highlights Part
----------------------*/

.highlights{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 100px;
    margin-left: 10px;
}
.highlight{
    width: 320px;
    height: 230px;
    margin-left: 100px;
}
.highlight h1{
    color: #0A0826
    font-size: 46px;
    font-weight: bold;  
}
.highlight p{
    color: #6C6C6C;

}
.frame{
    margin-left: 25px;
}
.frame img{
    height: 235px;
    width: 350px;
   
}

/*---------------------
    Footer Part
---------------------*/
footer{
    width: 300px;
    height: 170px;
    text-align: center;
    margin-top: 100px;
    margin-left: 350px;
}
footer img{
    width: 260px;
    height: 80px;
}
footer a{
    color: gray;
    padding: 5px;
}


/*------------------------
    RESPONSIVE SECTOR
------------------------*/
@media only screen and (max-width:688px){


/*----------------------
    Header Part
----------------------*/
    .top-container{
        display: block;
        background-color: #2D25A0;
        text-align:center;
        margin-top: -162px;
    }
    .header-title{
        color: white;
        width: 167px;
        height: 2px;
        font-size: 24px;
        font-weight: bold;
        padding-top: 35px;
    }
    .live{
        text-decoration: none;
        font-size: 14px;
        color: white;
        padding: 4px 6px;
        background-color: #E02C6D;
        transition: .2s;   
    }
    /* Hover Effect*/
    .live:hover{
        color: black; 
        background-color: tomato;
        border-radius: 8px;
        border: 1px solid #E02C6D;;
    }
    
    .banner img{
        height: 300px;
        width: 375px;
        margin-top: 120px;
    }
   

/*-------------------------
    Players Information
-------------------------*/

    .container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 24px;
        margin-top: 47px;
    }

    .player{
        height: 470px;
        width: 320px;
        margin-left: 29px;
        box-shadow: 2px 2px 40px #979696;
        transition: .3s;
    }

    .player img{
        height:256px;
        width: 300px;
        padding: 10px;
    }


/*----------------------
    Highlights Part
----------------------*/

    .highlights{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin-top: 27px;
        margin-left: 10px;
    }
    .highlight{
        width: 345px;
        height: 250px;
        margin-left: 10px;
        padding: 10px;
        padding-bottom: 0px;
    }
    .highlight h1{
        color: #0A0826;
        font-size: 24px;
        font-weight: bold;  
    }
    .highlight p{
        color: #6C6C6C;

    }
    .frame{
        margin-left: 13px;
        padding-top: 0px;
    }
    .frame img{
        height: 225px;
        width: 330px;
    }


/*---------------------
    Footer Part
---------------------*/

footer {
    width: 261px;
    height: 100px;
    text-align: center;
    margin-top: 45px;
    margin-left: 56px;
    margin-bottom: 200px;
}
    footer img{
        width: 257px;
        height: 64px;
    }
    footer a{
        color: gray;
        padding: 5px;
    }

}